<section class="library">
<header class="lo-full visuallyhidden">
  <h1>Biblioteket</h1>
</header>
<aside class="lo-auron-1-3 library-basic-info float-right">
<article class="language-selection">
<form class="language-selection-form">
  <label for="language-selection" class="control-label">Select language</label>
  <select id="language-selection" class="language-selection-form-option form-control">
    <option value="norwegian" selected>Norsk</option>
    <option value="english">English</option>
    <option value="french">Français</option>
    <option value="spanish">Español</option>
    <option value="german">Deutsch</option>
  </select>
  </form>
</article>
<article>
  {{!-- Åpningstider --}}
  <p>Biblioteket er åpent hele sommeren <br><strong>8:00 - 15:00 mandag - fredag</strong></p></article>
</aside>

<section class="lo-auron-2-3 library-search">
  {{!-- Søk --}}
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#oria" aria-controls="oria" role="tab" data-toggle="tab">Søk i Oria</a></li>
    <li role="presentation"><a href="#bibsys" aria-controls="bibsys" role="tab" data-toggle="tab">Søk i Bibsys</a></li>
    <li role="presentation"><a href="#googlescholar" aria-controls="googlescholar" role="tab" data-toggle="tab">Søk i Scholar</a></li>
    <li role="presentation"><a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">Avansert søk</a></li>
  </ul>
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="oria">


  <form class="form-inline" action="http://www.oria.no/" enctype="application/x-www-form-urlencoded; charset=utf-8" method="post" name="searchForm" target="_self">
    <div class="form-group">
      <label class="sr-only" for="library-search">Søk i Oria</label>
      <input type="email" class="form-control input-lg" id="library-search" placeholder="Søk etter bøker, artikler, tidsskrifter m.m.">
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Søk</button>
  </form>
    </div>

  <div role="tabpanel" class="tab-pane" id="bibsys">


    <form class="form-inline" action="http://www.oria.no/" enctype="application/x-www-form-urlencoded; charset=utf-8" method="post" name="searchForm" target="_self">
      <div class="form-group">
        <label class="sr-only" for="library-search">Søk i bibsys</label>
        <input type="email" class="form-control input-lg" id="library-search" placeholder="Søk i bibsys">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Søk</button>
    </form>
    </div>
  <div role="tabpanel" class="tab-pane" id="googlescholar">



    <form class="form-inline" action="http://www.oria.no/" enctype="application/x-www-form-urlencoded; charset=utf-8" method="post" name="searchForm" target="_self">
      <div class="form-group">
        <label class="sr-only" for="library-search">Søk i google scholar</label>
        <input type="email" class="form-control input-lg" id="library-search" placeholder="Søk i Google scholar">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Søk</button>
    </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="advanced">



    <form class="form-inline" action="http://www.oria.no/" enctype="application/x-www-form-urlencoded; charset=utf-8" method="post" name="searchForm" target="_self">
      <div class="form-group">
        <label class="sr-only" for="library-search">Avansert søk</label>
        <input type="email" class="form-control input-lg" id="library-search" placeholder="Avansert søk">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Søk</button>
    </form>
    </div>
    </div>
</section>




<section class="lo-full padding-off content-section">
  {{#each library}}
  {{!-- Seksjoner --}}
  {{#if elibrary}}
  <article class="lo-quarter section">
  <header>

    <h1>E-biblioteket</h1>
  </header>
    <ul class="nav nav-pills nav-stacked">
      {{#each elibrary}}
       <li><a href="#/biblioteket/side/{{id}}">{{{pagetitle}}}</a></li>
       {{/each}}

    </ul>
  </article>
  {{/if}}
  {{#if howtowrite}}
  <article class="lo-quarter section">
  <header>
    <h1>Hvordan skrive oppgave</h1>
  </header>
    <ul class="nav nav-pills nav-stacked">
      {{#each howtowrite}}
       <li><a href="#/biblioteket/side/{{id}}">{{{pagetitle}}}</a></li>
       {{/each}}

    </ul>

  </article>
  {{/if}}
  {{#if researchandpublication}}
  <article class="lo-quarter section">
  <header>
    <h1>Forskning og publisering</h1>
  </header>
    <ul class="nav nav-pills nav-stacked">
      {{#each researchandpublication}}
       <li><a href="#/biblioteket/side/{{id}}">{{{pagetitle}}}</a></li>
       {{/each}}

    </ul>

  </article>
  {{/if}}
  {{#if orderandrenew}}
  <article class="lo-quarter section">
  <header>
    <h1>Låne og bestille</h1>
  </header>
    <ul class="nav nav-pills nav-stacked">
      {{#each orderandrenew}}
       <li><a href="#/biblioteket/side/{{id}}">{{{pagetitle}}}</a></li>
       {{/each}}

    </ul>

  </article>
  {{/if}}
  {{#if helpservices}}
  <article class="lo-quarter section">
  <header>
    <h1>Hjelp fra biblioteket</h1>
  </header>
    <ul class="nav nav-pills nav-stacked">
      {{#each helpservices}}
       <li><a href="#/biblioteket/side/{{id}}">{{{pagetitle}}}</a></li>
       {{/each}}

    </ul>

  </article>
  {{/if}}
  {{#if about}}
  <article class="lo-quarter section">
  <header>
    <h1>Om biblioteket</h1>
  </header>
    <ul class="nav nav-pills nav-stacked">
      {{#each about}}
       <li><a href="#/biblioteket/side/{{id}}">{{{pagetitle}}}</a></li>
       {{/each}}

    </ul>

  </article>
  {{/if}}
  {{/each}}
</section>


<section class="lo-full padding-off library-news">
  <header class="lo-full">
    <h1 class="float-left">Aktuelt fra biblioteket</h1>
    <a class="btn btn-link arrow arrow-right float-right" href="#/biblioteket/aktuelt">Flere artikler</a>
  </header>
  <div class="outlet"></div>
  {{!-- <div class="outlet" data-article-lo-class="lo-quarter" data-template="posts" data-category="20" data-pagesize="6" data-article-destination-address="/nor/biblioteket/biblioteket/aktuelt" data-destination=".outlet"></div>
  {{!-- Nyheter --}}
</section>
</section>
