<section class="library-navigation lo-full" data-spy="affix" data-offset-top="20" data-offset-bottom="200">
<nav class="navbar navbar-default">
  <div class="container-fluid">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#library-navbar-collapse" aria-expanded="false">
        <span class="button-label">Meny</span>
        <div class="button-bars">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         </div>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="library-navbar-collapse">
      {{#each library}}
      <ul class="nav navbar-nav">
        {{#if elibrary}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fagstoff <span class="caret"></span></a>

          <ul class="dropdown-menu">
          {{#each elibrary}}
            <li><a href="{{#if link}}{{link}}{{else}}#/{{{urlize pagetitle}}}/p/{{id}}{{/if}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li>
        {{/if}}
        {{#if howtowrite}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skrive & referere <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each howtowrite}}
            <li><a href="{{#if link}}{{link}}{{else}}#/{{{urlize pagetitle}}}/p/{{id}}{{/if}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li>
        {{/if}}
        {{#if researchandpublication}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Forskning & publisering <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each researchandpublication}}
            <li><a href="{{#if link}}{{link}}{{else}}#/{{{urlize pagetitle}}}/p/{{id}}{{/if}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li>
        {{/if}}
        {{#if orderandrenew}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Låne & bestille <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each orderandrenew}}
            <li><a href="{{#if link}}{{link}}{{else}}#/{{{urlize pagetitle}}}/p/{{id}}{{/if}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li>
        {{/if}}
        {{#if helpservices}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="visuallyhidden">Hjelp fra biblioteket</span> Tjenester <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each helpservices}}
            <li><a href="{{#if link}}{{link}}{{else}}#/{{{urlize pagetitle}}}/p/{{id}}{{/if}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li>
        {{/if}}
        {{#if about}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Om biblioteket <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each about}}
            <li><a href="{{#if link}}{{link}}{{else}}#/{{{urlize pagetitle}}}/p/{{id}}{{/if}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li>
        {{/if}}
      </ul>
      {{/each}}
      <div class="navbar-social">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select language <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://hiof.no/biblioteket">Norsk</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">English</a></li>
              <li><a href="http://www2.hiof.no/index.php?ID=19670">Français</a></li>
              <li><a href="http://www2.hiof.no/index.php?ID=20914">Español</a></li>
              <li><a href="http://www.hiof.no/nor/biblioteket/om-biblioteket/deutsch">Deutsch</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sosiale medier<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a  href="https://www.facebook.com/bibhiof">Facebook - HiØ, biblioteket</a></li>
              <li role="separator" class="divider"></li>
              <li><a role="button" href="http://instagram.com/hiofbibfred">Instagram - HiØ, biblioteket Fredrikstad</a></li>
              <li><a role="button" href="http://instagram.com/hiofbibhalden">Instagram - HiØ, biblioteket Halden</a></li>
              <li role="separator" class="divider"></li>
              <li><a role="button" href="https://www.youtube.com/channel/UCfDe1CghuDZt0J7hxMvjrJQ">Youtube - HiØ, biblioteket</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</div>
</nav>
</section>
