<section class="library-navigation lo-full">


    <div class="grid">
      {{#each library}}
        {{#if elibrary}}
      <div class="grid-item">
      <h3>E-biblioteket</h3>
        <ul>
         {{#each_upto elibrary 5}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each_upto}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alle <span class="caret"></span></a>

          <ul class="dropdown-menu">
          {{#each elibrary}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li></ul>
        </div>
        {{/if}}
        {{#if howtowrite}}
      <div class="grid-item">
      <h3>Skrive & refere</h3>
        <ul>
         {{#each_upto howtowrite 5}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each_upto}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alle <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each howtowrite}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li></ul>
        </div>
        {{/if}}
        {{#if researchandpublication}}
      <div class="grid-item">
      <h3>Forskning & publisering</h3>
        <ul>
         {{#each_upto researchandpublication 5}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each_upto}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alle <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each researchandpublication}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li></ul>
        </div>
        {{/if}}
        {{#if orderandrenew}}
      <div class="grid-item">
      <h3>Låne & bestille</h3>
        <ul>
         {{#each_upto orderandrenew 5}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each_upto}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alle <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each orderandrenew}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li></ul>
        </div>
        {{/if}}
        {{#if helpservices}}
      <div class="grid-item">
      <h3>Hjelp fra biblioteket</h3>
        <ul>
         {{#each_upto helpservices 5}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each_upto}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="visuallyhidden">Hjelp fra biblioteket</span> Alle <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each helpservices}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li>
        </div>
        {{/if}}
        {{#if about}}
      <div class="grid-item">
      <h3>Om biblioteket</h3>
        <ul>
         {{#each_upto about 5}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each_upto}}
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alle <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {{#each about}}
            <li><a href="#/biblioteket/side/{{id}}/{{{urlize pagetitle}}}">{{{pagetitle}}}</a></li>
          {{/each}}
          </ul></li></ul>
        </div>
        {{/if}}


      {{/each}}

    </div>


</section>
